.env

# QR code generation script
script.py

# admin files
admin.html
admin.js
admin.css

# testing output
north_clearwater_park_guide.html
overlay.html
clearwater_beach.webp
north_clearwater_beach_guide.webp